<div class="d-flex flex-row align-items-center measureBox m-2 rounded shadow" [ngClass]="getBGColor()">
    <div class="align-self-stretch rounded-left p-1" [ngClass]="getLeftBarColor()"></div>
    <div class="d-flex flex-column ml-2 mr-3 measureBox-data">
        <div class="font-weight-bold mb-1" [ngClass]="getLabelColor()">{{label}}</div>
        <h5 class="font-weight-bold" [ngClass]="getValueColor()">{{value}}</h5>
    </div>
    <div class="ml-3 align-items-center mr-2">
        <i class="material-icons md-dark md-48 align-items-center" [ngClass]="getIconColor()">{{icon}}</i>
    </div>
</div>