@import "../styles.scss";

.responsive-container{
    width: calc(100vw - 50px);  
    margin-left: 50px; 
    transition: margin-left .25s, margin-right .25s, width .25s, flex .25s, -ms-flex .25s;
    @media (min-width: map-get($grid-breakpoints, lg)) {
        width: calc(100vw - 200px);  
        margin-left: 200px; 
    }    
}

.bg-blueIronMan{
    background: linear-gradient(67deg, #6198cd, #4f7bda);
}

.bg-darkBlue{
    background-color: rgb(28, 32, 54);
}